.learn-more {
		display: flex;
		justify-content: center;
		align-items: center;

	&__subtitle {
		font-weight: $fw-bolt;
		font-size: 28px;
		line-height: 150%;
		color: $ebony-color;
		margin-right: 40px;
	}
}
