.hero {
	padding-top: 223px;
	padding-bottom: 353px;
	background-color: $grey-color;
	background-image: url(../images/main-bg-image.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: $light-color;

	&__btns .btn:not(:last-child) {
		margin-right: 21px;
	}

	&__content {
		max-width: 590px;
	}
}


