.secondary-hero {
	background-color: $athens-color;
	padding-top: 153px;
	padding-bottom: 180px;
	background-image: url(../images/second-services-bg.png);
background-repeat: no-repeat;
background-position: right -8px top;
	&__breadcrumb {
	}

	&__title {
		font-size: 72px;
		line-height: 130%;
		letter-spacing: 1px;
		color: $ebony-color;
		font-weight: $fw-bolt;
		text-transform: uppercase;
		margin-top: 40px;
		margin-bottom: 23px;
	}

	&__descr {
		color: $storm-color;
		font-size: 20px;
		line-height: 150%;
		max-width: 600px;
	}
}
