.partners {
	padding: 80px 0;
	background: $athens-color;

	&--pricing {
		padding: 119px 0;
	}

	&__title {
		margin-bottom: 60px;
	}

	&__list {
		display: grid;
		column-gap: 102px;
		grid-template-columns: repeat(6, 1fr);
		row-gap: 40px;

		@include tablet {
			column-gap: 30px;
		}
	}

	&__item {
		@include tablet {
			display: flex;
			justify-content: center;
			grid-column: 3 span;
		}
	}

	&__link {
		&:focus {
			outline: 2px solid $primary-color;
			outline-offset: 2px;
		}
	}
}
